{% extends 'base.html' %}
{% block title %}Register Form{% endblock %}

{% block content %}
<h1>Hello {{ user.first_name }}!</h1>
<form action="/users/{{user.username}}/delete" method="POST">
  {{form.hidden_tag()}}
  <button class="btn btn-danger">Delete Profile</button>
</form>
<h3>User Profile:</h3>
<p><span style="font-weight: bold">Username: </span>{{ user.username }}</p>
<p><span style="font-weight: bold">Email: </span>{{ user.email }}</p>
<p><span style="font-weight: bold">First Name: </span>{{ user.first_name }}</p>
<p><span style="font-weight: bold">Last Name: </span>{{ user.last_name }}</p>

<h3>Notes: </h3>
{% for note in notes %}
  <li><b>{{ note.title }}: </b>
  <p>{{ note.content }}</p>
  <form>
    {{form.hidden_tag()}}
    <button formaction="/notes/{{ note.id }}/edit" formmethod="GET">Edit</button>
    <button formaction="/notes/{{ note.id }}/delete" formmethod="POST">Delete</button>
  </form>
  </li>
{% endfor %}
<form action="/users/{{user.username}}/notes/add" method="GET">
  <input type="submit" value="Add More Notes"></input>
</form>

<form action="/logout" method="POST">
  {{form.hidden_tag()}}
  <button class="btn btn-info">Logout</button>
</form>

{% endblock %}