{% extends 'base.html' %}
{% block title %}Register Form{% endblock %}

{% block content %}
<h1>Hello {{ user.first_name }}!</h1>

<h4>User Profile:</h4>
<p><span style="font-weight: bold">Username: </span>{{ user.username }}</p>
<p><span style="font-weight: bold">Email: </span>{{ user.email }}</p>
<p><span style="font-weight: bold">First Name: </span>{{ user.first_name }}</p>
<p><span style="font-weight: bold">Last Name: </span>{{ user.last_name }}</p>

<form action="/logout" method="POST">
  {{form.hidden_tag()}}
  <button class="btn btn-info">Logout</button>
</form>
{% endblock %}